<div class="container">
  <div class="container-img">
    <img src="../../../assets/img/lucasian-logo.png" alt="logo lucasian"class="lg-lucasian">
  </div>
  
  <div class="container-btn">
    <div class="containter-btn-login">
      <h1>Elige y descubre la forma de estimar</h1>
      <button mat-raised-button class="btn-login" (click)="openDialog()">Proyecto Nuevo</button>
      <button mat-raised-button class="btn-login" (click)="existingP()">Proyecto Existente</button>
    </div>
  </div>
</div>
